<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/bootstrap.css">
</head>
<style>
.center{
	text-align: center;
}
</style>
<body>
	<div class="center">
<h1>Казино!</h1>

<h1>Узнай кусок флага с шансом 25%!</h1>

<a href="{{flag2}}" style="height: 100px; width: 100px;" class="{{style2}}"></a>
<a href="{{flag3}}" style="height: 100px; width: 100px;" class="{{style3}}">{{a}}</a>
<a href="{{flag4}}" style="height: 100px; width: 100px;" class="{{style4}}">{{a}}</a>
<a href="{{flag2}}" style="height: 100px; width: 100px;" class="{{style2}}">{{a}}</a>
<a href="{{flag3}}" style="height: 100px; width: 100px;" class="{{style3}}">{{a}}</a>
<a href="{{flag1}}" style="height: 100px; width: 100px;" class="{{style1}}">{{a}}</a>
<a href="{{flag4}}" style="height: 100px; width: 100px;" class="{{style4}}">{{a}}</a>
<a href="{{flag3}}" style="height: 100px; width: 100px;" class="{{style3}}">{{a}}</a>
<a href="{{flag1}}" style="height: 100px; width: 100px;" class="{{style1}}">{{a}}</a><br>
<a href="{{flag2}}" style="height: 100px; width: 100px;" class="{{style2}}">{{a}}</a>
<a href="{{flag4}}" style="height: 100px; width: 100px;" class="{{style4}}">{{a}}</a>
<a href="{{flag1}}" style="height: 100px; width: 100px;" class="{{style1}}">{{a}}</a>
<a href="{{flag3}}" style="height: 100px; width: 100px;" class="{{style3}}">{{a}}</a>
<a href="{{flag2}}" style="height: 100px; width: 100px;" class="{{style2}}">{{a}}</a>
<a href="{{flag4}}" style="height: 100px; width: 100px;" class="{{style4}}">{{a}}</a>
<a href="{{flag3}}" style="height: 100px; width: 100px;" class="{{style3}}">{{a}}</a>
<a href="{{flag1}}" style="height: 100px; width: 100px;" class="{{style1}}">{{a}}</a>
<a href="{{flag2}}" style="height: 100px; width: 100px;" class="{{style2}}">{{a}}</a><br>
<a href="{{flag3}}" style="height: 100px; width: 100px;" class="{{style3}}">{{a}}</a>
<a href="{{flag4}}" style="height: 100px; width: 100px;" class="{{style4}}">{{a}}</a>
<a href="{{flag2}}" style="height: 100px; width: 100px;" class="{{style2}}">{{a}}</a>
<a href="{{flag3}}" style="height: 100px; width: 100px;" class="{{style3}}">{{a}}</a>
<a href="{{flag4}}" style="height: 100px; width: 100px;" class="{{style4}}">{{a}}</a>
<a href="{{flag3}}" style="height: 100px; width: 100px;" class="{{style3}}">{{a}}</a>
<a href="{{flag1}}" style="height: 100px; width: 100px;" class="{{style1}}">{{a}}</a>
<a href="{{flag2}}" style="height: 100px; width: 100px;" class="{{style2}}">{{a}}</a>
<a href="{{flag4}}" style="height: 100px; width: 100px;" class="{{style4}}">{{a}}</a>
</div>
</body>
</html>
